*{
    margin: 0;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A3B18A;
    color: white;
    box-shadow: 4px 2px 10px black;
}
header img{
    width: 125px;
    display: flex;
    padding: 15px;
}
.nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}
.nav p{
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.headerTextDa{
    color: #FCA311;
    font-weight: bold;
}
.headerTextBookStore{
    color: #FFFFFF;
    font-weight: bold;
}